@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Pathway+Gothic+One&display=swap');

@font-face {
  font-family: 'Garet';
  src: url('fonts/Garet-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garet-Bold';
  src: url('fonts/Garet-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 50%;
  background: #1f1f1f;
  container-type: size;
}

.left-panel-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.wait {
  color: #ff3131;
}

.blurb {
  color: #fff;
  font-family: "Garet";
  font-size: 3.5cqmin;
  margin-top: 5%;
}

.defn {
  color: #fff;
  font-family: serif;
  font-size: 3cqmin;
  margin-top: 5%;
}

.right-panel {
  width: 50%;
  padding: 40px;
  background: #b6c2c2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  container-type: size;

  cursor: pointer;
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;

  transition: background-color 0.3s ease;

  position: relative;

  -webkit-tap-highlight-color: transparent;
  outline: none;
  touch-action: manipulation;
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    height: 50vh;
  }
}

.right-panel:hover {
  background-color: #ccd4d4;
}

.right-panel:active,
.right-panel:focus-visible {
  background-color: #ccd4d4;
}


#right-panel-content {
  position: absolute;
  top: calc(50% - 42cqmin);
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

.state {
  display: none;
}

.right-panel.idle .idle-state {
  display: block;
}

.right-panel.idle #output {
  display: none;
}

.right-panel.recording .recording-state {
  display: block;
  margin-top: 5%;
}

.right-panel.result .result-state {
  display: block;
}

#idle-text {
  font-size: 14cqmin;
  color: #1f1f1f;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 40cqmin;
  color: #1f1f1f;
  margin-top: 5cqmin;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

#output {
  font-family: "Garet-Bold", sans-serif;
  font-size: 50cqmin;
  color: #ff3131;
  line-height: 1.0;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 6cqmin;
}

.dots span {
  display: block;
  width: 5cqmin;
  height: 5cqmin;
  background-color: white;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

.dots span:nth-child(1) { animation-delay: 0s; }
.dots span:nth-child(2) { animation-delay: 0.2s; }
.dots span:nth-child(3) { animation-delay: 0.4s; }
.dots span:nth-child(4) { animation-delay: 0.6s; }

@keyframes pulse {
  0%, 80%, 100% { transform: scale(1); }
  40% { transform: scale(1.5); }
}

#recording-text {
  font-size: 8cqmin;
  color: #1f1f1f;
  margin-top: 8cqmin;
}

#result-text-1 {
  font-size: 8cqmin;
  color: #1f1f1f;
}

#result-text-2 {
  font-size: 8cqmin;
  color: #1f1f1f;
  margin-top: 3cqw;
}

#result-text-3 {
  font-size: 5cqmin;
  color: #1f1f1f;
  margin-top: 5cqmin;
}

.popup {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 999;
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  position: relative;
  background: white;
  padding: 8%;
  border-radius: 12px;
  width: 80vw;
  text-align: center;
}

#close-ios-popup,
#close-android-popup {
  position: absolute;
  top: 5%;
  right: 5%;

  font-size: 8vmin;
  cursor: pointer;
  line-height: 1;
}

#close-ios-popup:hover,
#close-android-popup:hover {
  opacity: 0.6;
}

#ios-popup-header,
#android-popup-header {
  font-size: 6vmin;
  color: #ff3131;
  font-family: "Garet-Bold", sans-serif;
}

#ios-popup-text,
#android-popup-text {
  font-size: 4vmin;
  color: #1f1f1f;
  font-family: "Garet", sans-serif;
  margin-top: 4vmin;
}
